.site {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(auto, 250px) minmax(250px, 1fr) minmax(1fr, 250px), minmax(1fr, 250px);
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "item1 item1 item1 item1"
        "item2 item2 item3 item3"
        "item4 item4 item4 item4";
    gap: 1rem;
    padding: 1rem;
    background-color: #f9904a;
}

@media (min-width: 600px) {
    .site {
        grid-template-columns: minmax(auto, 250px) minmax(auto, 1fr) minmax(1fr, 250px);
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: "item1 item4 item4"
            "item1 item4 item4"
            "item1 item2 item3";
    }
}

.item1 {
    background-color: #7798FF;
    grid-area: item1;
}

.item2 {
    background-color: #75FFA7;
    grid-area: item2;
    /* height: 50%; */
}

.item3 {
    background-color: #EFFF76;
    grid-area: item3;
    /* height: 50%; */
}

.item4 {
    background-color: #78FFFB;
    grid-area: item4;
    /* height: 50%; */
}

.site>* {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f38801;
    border-radius: 10px;
    box-shadow:
        0.3px 0.5px 0.7px hsl(23deg 93% 31% / 0.36),
        0.8px 1.6px 2px -0.8px hsl(23deg 93% 31% / 0.36),
        2.1px 4.1px 5.2px -1.7px hsl(23deg 93% 31% / 0.36),
        5px 10px 12.6px -2.5px hsl(23deg 93% 31% / 0.36);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font: 24px/1.6 'Courgette', cursive;
}

body {
    height: 100%;
}

.t {
    background: transparent;
    border: 1px dashed #fff;
    box-shadow: none;
}